/* Dark theme */
.dark-background {
    background-color: #121212;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation menu styles */
nav {
    background-color: #1E1E1E;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #CCCCCC;
}

/* Container for the content */
.container {
    padding: 20px;
}

/* Table styles */
.table-container {
    max-height: 800px; /* Adjust the value as needed */
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #FFFFFF;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
    color: #CCCCCC; /* Text color for cells */
}

/* Adjust the color of the search input */
.dataTables_filter input[type="search"] {
    color: #CCCCCC;
    background-color: #1E1E1E; /* Background color for the search input */
}

.dataTables_info, .dataTables_paginate {
    color: #CCCCCC; /* Text color for pagination info and controls */
}

th {
    background-color: #1E1E1E;
}

/* Alternating row colors */
tr:nth-child(even) {
    background-color: #0D0D0D; /* Slightly different darker shade */
}

/* Responsive styles */
@media (max-width: 767px) {
    nav ul {
        display: block;
    }

    nav li {
        margin-bottom: 10px;
    }
}
