/* Dark theme */
.dark-background {
    background-color: #121212;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation menu styles */
nav {
    background-color: #1E1E1E;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #CCCCCC;
}

/* Table styles */
.table-container {
    max-width: 100%; /* Adjust the width as needed */
    overflow-x: auto;
    margin-top: 20px;
    border: 1px solid #FFFFFF;
}

table {
    width: 100%;
    table-layout: fixed; /* Ensures that table columns have equal width */
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
    color: #CCCCCC;
    word-wrap: break-word; /* Prevent long content from overflowing */
}

th {
    background-color: #1E1E1E;
}

/* Alternating row colors */
tr:nth-child(even) {
    background-color: #0D0D0D !important;
}

/* Odd row colors */
tr:nth-child(odd) {
    background-color: #121212 !important;
}

/* Reduce heading sizes */
h1, h2, h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Add spacing between tables */
.status-table {
    margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 767px) {
    nav ul {
        display: block;
    }

    nav li {
        margin-bottom: 10px;
    }

    /* Adjust table styles for smaller screens */
    th, td {
        padding: 8px;
    }
}
