{% extends 'base.html' %}

{% block content %}
    <h1>Add a New Game</h1>

    <form method="POST" action="{{ url_for('add_game') }}">
        <table>
            <tr>
                <td><label>Title:</label></td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td><label>Platform:</label></td>
                <td><input type="text" name="platform"></td>
            </tr>
            <tr>
                <td><label>Date Started:</label></td>
                <td><input type="text" name="date_started"></td>
            </tr>
            <tr>
                <td><label>Date Finished:</label></td>
                <td><input type="text" name="date_finished"></td>
            </tr>
            <tr>
                <td><label>Status:</label></td>
                <td><input type="text" name="status"></td>
            </tr>
            <tr>
                <td><label>Release Date:</label></td>
                <td><input type="text" name="release_date"></td>
            </tr>
            <tr>
                <td><label>Format:</label></td>
                <td><input type="text" name="format"></td>
            </tr>
            <tr>
                <td><label>Size:</label></td>
                <td><input type="text" name="size"></td>
            </tr>
            <tr>
                <td><label>Hours to Complete (HLTB):</label></td>
                <td><input type="text" name="hours_to_complete_hltb"></td>
            </tr>
            <tr>
                <td><label>Hours to Complete (Personal):</label></td>
                <td><input type="text" name="hours_to_complete_personal"></td>
            </tr>
            <tr>
                <td><label>Metacritic Rating:</label></td>
                <td><input type="number" name="metacritic_rating"></td>
            </tr>
            <tr>
                <td><label>Gameplay and Story Rating:</label></td>
                <td><input type="number" name="gameplay_story_rating"></td>
            </tr>
            <tr>
                <td><label>Controls Rating:</label></td>
                <td><input type="number" name="controls_rating"></td>
            </tr>
            <tr>
                <td><label>Visuals Rating:</label></td>
                <td><input type="number" name="visuals_rating"></td>
            </tr>
            <tr>
                <td><label>Audio Rating:</label></td>
                <td><input type="number" name="audio_rating"></td>
            </tr>
            <tr>
                <td><label>Value Rating:</label></td>
                <td><input type="number" name="value_rating"></td>
            </tr>
        </table>

        <input type="submit" value="Add Game">
    </form>
{% endblock %}
