<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming With Andi - Gaming Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body class="dark-background">
    <nav>
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Gaming Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container">
        <h1>Gaming With Andi - Gaming Log</h1>
        
        <div class="status-table">
            <h3>Playing Status</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Title</th>
                        <th>HLTB Story</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data | sort(attribute='Title', reverse=True) if row['Status'] == 'Playing' %}
                        <tr>
                            <td>{{ row['Platform'] }}</td>
                            <td>{{ row['Title'] }}</td>
                            <td>{{ row['HLTB Story'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="status-table">
            <h3>Completed Status</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Title</th>
                        <th>Hours Played</th>
                        <th>Date Finished</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data | sort(attribute='Date Finished', reverse=True) if row['Status'] == 'Completed' %}
                        <tr>
                            <td>{{ row['Platform'] }}</td>
                            <td>{{ row['Title'] }}</td>
                            <td>{{ row['Hours Played'] }}</td>
                            <td>{{ row['Date Finished'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="status-table">
            <h3>Backlog Status</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Title</th>
                        <th>HLTB Story</th>
                        <th>Critic Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data | sort(attribute='Critic Rating', reverse=True) if row['Status'] == 'Backlog' %}
                        <tr>
                            <td>{{ row['Platform'] }}</td>
                            <td>{{ row['Title'] }}</td>
                            <td>{{ row['HLTB Story'] }}</td>
                            <td>{{ row['Critic Rating'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </main>
</body>
</html>
