<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming With Andi - Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body class="dark-background">
    <nav>
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Gaming Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container">
        <h1>Gaming With Andi - Stats</h1>
        <h2>Platform Stats</h2>
        <ul>
            {% for platform, count in platform_stats.items() %}
            <li>{{ platform }}: {{ count }}</li>
            {% endfor %}
        </ul>
        <h2>Stats</h2>
        <div class="stat-row">
            <div class="stat-row">
                <h3>Total Games Owned Per Platform</h3>
                <ul>
                    {% for platform, total_games_owned in total_games_owned_per_platform.items() %}
                        <li>{{ platform }}: {{ total_games_owned }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <p>Total Games: {{ total_games }}</p>
            <p>Completed: {{ total_completed_games }}</p>
            <p>Playing: {{ total_in_progress_games }}</p>
            <p>Backlogs: {{ total_unplayed_games }}</p><br>

            <div class="stat-row">
                <h3>Total Hours Played Per Year</h3>
                <ul>
                    {% for year, total_hours in total_hours_per_year.items() %}
                        <li>{{ year }}: {{ total_hours }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="stat-row">
                <h3>Average Hours Played Per Platform</h3>
                <ul>
                    {% for platform, average_hours in average_hours_per_platform.items() %}
                        <li>{{ platform }}: {{ average_hours }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <p>Total Hours Played: {{ total_hours_played }}</p>
            <p>Longest Time Played: {{ longest_time_played }}</p>
            <p>Shortest Time Played: {{ shortest_time_played }}</p>
            <p>Average Time Played: {{ average_time_played }}</p><br>
            
            <p>Most Played Platform: {{ most_played_platform }}</p>
        </div>
                
        <div class="stat-row">
            <h3>Average Critic Ratings per Platform:</h3>
            <ul>
              {% for platform, rating in average_critic_rating_per_platform.items() %}
                <li>{{ platform }}: {{ rating }}</li>
              {% endfor %}
            </ul>
        </div>

    </main>
</body>
</html>
