<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming With Andi - Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body class="dark-background">
    <nav>
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Gaming Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container">
        <h1>Gaming With Andi - Stats</h1>
        <h2>Platform Stats</h2>
        <ul>
            {% for platform, count in platform_stats.items() %}
            <li>{{ platform }}: {{ count }}</li>
            {% endfor %}
        </ul>
        <h2>Other Stats</h2>
        <p>Average Hours Played Per Game: {{ average_hours_per_game }}</p>
        <!-- Add more statistics here -->
    </main>
</body>
</html>
